*{margin:0; padding:0; list-style:none; }
body{ background:#fff; font:normal 14px/22px "微软雅黑"; font-family: "微软雅黑" }
img{ border:0;  }

.add-banner{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

hr{
	border-color: #ff6666;
}

img{
	display: none;
}

h2{
	text-align: center;
}